.display-cell{
	height: 100px;
	width: 70px;
	border: 1px solid black;
	float: left;
	background-color: tan;
	/*background-image: url('groundhog-burrow.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	margin: 5px;
}

.display-img{
	background-image: url('gopherSmoosh.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

body{
	background-image: url('prairie.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}